* {
    box-sizing: border-box;
}

:root{
    --cor-p: #000000;
    --cor-s: #28FF0D;
    --cor-t: #dbd9e8;
}

head {
    display: none;
}

body {
    min-height: 100vh;
    background-color: var(--cor-p);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.conteiner {
    gap: 100px;
    background-position: 5.688rem 60%;
    position: block;
    top: 0px;
    right: 0%;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 10%;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.dividir {
    width: 18rem;
    height: 0.063rem;
    margin-bottom: 1.5rem;
    background-color: var(--cor-t);
}

.logo{
    margin-bottom: 2.5rem;
    margin-left: -0.125rem;
}

img {
    max-width: 100%;
    display: flex;
}

img {
    border: 0;
}

ul {
    margin-top: 0px;
    margin-bottom: 0.625rem;
    padding-left: 2.5rem;
}

.home-conteiner{
    display: block;
}

.home-lista {
    margin-left: -1rem;
    padding-left: 0px;
}

.home-lista-item{
    display: block;
    overflow: visible;
}

.home-lista-link {
    display: inline-block;
    padding: 1rem;
    color: var(--cor-t);
    font-size: 0.938rem;
    font-weight: 300;
    letter-spacing: 0.063rem;
}

.home-button{
    display: flex;
    padding: 1rem;
    color: var(--cor-t);
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.063rem;
    background-color: var(--cor-p); 
    border: var(--cor-p);
}

.segunda-tela{
    background-position: 5.688rem 30%;
    position: flex;
    top: 0px;
    right: 0%;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 75rem;
    margin-right: auto;
    margin-left: 0;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
}
a {
    background-color: transparent;
}

p {
    display: flex;
    padding: 1rem;
    right: 10%;
    color: var(--cor-s);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.063rem;
}

h2 {
    color: var(--cor-s);
    font-size: 0.938rem;
    font-weight: 300;
    letter-spacing: 0.063rem;
}

h1 {
    color: var(--cor-s);
    font-weight: 300;
    letter-spacing: 0.063rem;
}

label {
    display: flex;
    padding: 1rem;
    color: var(--cor-t);
    font-size: 0.938rem;
    font-weight: 300;
    letter-spacing: 0.063rem;
}

.sociais {
    display: flex;
    margin-top: 2.5rem;
    margin-left: -0.813rem;
    align-items: center;
}

.social-butal {
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
    justify-content: center;
    align-items: center;
}

.grafico{
    min-height: 30%;
    display: inline-block;
    margin: 1%;
    width: 100%;
    border: 1% var(--cor-p);
    padding: 10%;
}

.grafico-itens{
    width: 100%;
    background-color: var(--cor-t);
}

.grafico-itens-dentro{
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
    color: var(--cor-p);
    width:50%;
    background-color: var(--cor-s);
}

.logo-projetos{
    border: 0;
    display: inline-block;
    align-items: center;
    border: 1px;
    width: 20%;
    height: 20%;
}
